@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* @apply bg-black; */
  background-color: #0a192f;
  color: #8892b0;
  overflow-x: hidden;
  @apply text-[#8892b0] ;
  /* color: rgb(100, 255, 218); */
}
:root {
  --color-primary: #64ffda;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* hexaline  */

.hexagon-line {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  stroke-width: 5;
  animation: draw 1s ease-in-out forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Text is hidden initially */
.hexagon-text {
  opacity: 0;
  transform: scale(0.3);
  transform-origin: center;
  animation: revealText 0.4s ease-out forwards;
  animation-delay: 1s; /* start after line animation ends */
}

@keyframes revealText {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
 

/* lighting system  */
.cursor-light {
  position: absolute;
  top: -60%;
  left: 1/2;
  width: 300px;
  height: 300px;
  pointer-events: none;
  z-index: 9999;
  background: radial-gradient(circle, rgba(203, 172, 249, 0.25) 0%, transparent 70%);
  mix-blend-mode: screen; /* allows light effect on dark or bright backgrounds */
  filter: blur(80px);
  opacity: 0.6;
  /* transition: background 0.3s ease; */
}

@keyframes rotate-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-marquee-vertical {
  animation: marquee-vertical 50s linear infinite;
}
